<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versatile drawing tool</title>
    <link rel="stylesheet" href="/static/styles/app.css">
    <script type="text/javascript" src="/static/js/paper-full.min.js"></script>
    <script type="text/paperscript" canvas="canvas">

    var myPath = new Path();

    function onMouseDown(event) {
        myPath = new Path();
        myPath.strokeColor = 'black';
        myPath.strokeWidth = 5;
    }

    function onMouseDrag(event){
        myPath.add(event.point);
    }
    
    </script>

</head>
<body>
    <h2>Super simple drawing tool by paper JS</h2>
    <p>Click and move your mouse to draw a line</p>
    <canvas id="canvas" resize></canvas>
</body>
</html>